@page

@model ListModel
@{
    ViewData["Title"] = "MyBlog - All Posts";
}

@if (Model.Posts.Length == 0)
{
    <header class="my-4">
        <h1 class="text-center">Sem posts para listar...</h1>
    </header>
    <p class="text-center">Que pena...</p>
}
else
{
    <div>
        <h2 class="section-title">All Posts</h2>
        <div id="posts-list">
            @foreach (var post in Model.Posts)
            {
                <partial name="Components/PostItem" model="@post" />
            }
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="?pageIndex=@i&categoryId=@Model.CategoryId&tagId=@Model.TagId">@i</a>
                </li>
            }
        </ul>
    </nav>
}

<hr>

<div class="text-center">
    <a href="/index" class="btn btn-primary">Voltar</a>
</div>