<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyBlog.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>


<div class="container">
    <partial name="Components/HeaderComponent" />
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer mt-auto">
        <div class="container">
            <span class="text-muted">&copy; 2024 Todos os direitos reservados.</span>
            <span id="health-status" class="float-right text-muted">Health Check: Loading...</span>
        </div>
    </footer>
</div>

<!-- Apenas para efeito de testes... -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const healthCheckUrl = '/health/readiness';
        $.get(healthCheckUrl)
            .done(function (data) {
                $('#health-status').text('Health Check: ' + data);
            })
            .fail(function () {
                $('#health-status').text('Health Check: Error...');
            });
    });
</script>
<!-- Apenas para efeito de testes... -->

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>